# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2.1
executors:
  default:
    working_directory: ~/repo
    environment:
      # install Cypress in Linux-like cache folder
      CYPRESS_CACHE_FOLDER: '~/.cache/Cypress'
      # set node max space
      NODE_OPTIONS: '--max_old_space_size=4096'
    docker:
      - image: circleci/node:20-browsers
commands:
  yarn_install:
    description: 'Install Dependencies'
    steps:
      - run: yarn install --non-interactive #--frozen-lockfile
      - run: ./node_modules/.bin/cypress verify
      - save_cache:
          key: flowaccount-nx-plugins-node20-yarn-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - save_cache:
          key: flowaccount-nx-plugins-node20-cypress-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/Cypress
  restore_cypress_cache:
    description: 'Restore Cypress Cache'
    steps:
      - restore_cache:
          keys:
            - flowaccount-nx-plugins-node20-cypress-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
            # fallback to using the latest cache if no exact match is found
            - flowaccount-nx-plugins-node20-cypress-
  restore_yarn_cache:
    description: 'Restore Cached Dependencies'
    steps:
      - restore_cache:
          keys:
            - flowaccount-nx-plugins-node20-yarn-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
            # fallback to using the latest cache if no exact match is found
            - flowaccount-nx-plugins-node20-yarn-
  setup:
    description: 'Setup Executor'
    steps:
      - checkout
      - attach_workspace:
          # Must be absolute path or relative path from working_directory
          at: ..

jobs:
  install:
    executor: default
    steps:
      - checkout
      - restore_yarn_cache
      - restore_cypress_cache
      - yarn_install
      - persist_to_workspace:
          # Must be an absolute path, or relative path from working_directory. This is a directory on the container which is
          # taken to be the root directory of the workspace.
          root: ..
          # Must be relative path from root
          paths:
            - repo/node_modules
            - .cache/Cypress
  checks-and-unit-tests:
    executor: default
    steps:
      - setup
      - run:
          name: Check Formatting
          command: yarn format:check
      - run:
          name: Check Commit Message Format
          command: yarn checkcommit
      # - run:
      #     name: Check Documentation
      #     command: yarn documentation
      - run:
          name: Run Unit Tests
          command: yarn affected:test --base=origin/master~1 --runInBand
  e2e-nx-plugins:
    executor: default
    steps:
      - setup
      - run:
          name: nx-plugins E2E Tests
          command: yarn affected:e2e  --base=origin/master~1
          no_output_timeout: 30m
  semantic-release:
    executor: default
    steps:
      - setup
      - run:
          name: Build
          command: yarn nx affected --target=build --base=origin/master~1 --parallel --with-deps
      - run:
          name: Release
          command: yarn semantic-release
workflows:
  version: 2.1
  pr_workflow:
    jobs:
      - install
      - checks-and-unit-tests:
          requires:
            - install
      - e2e-nx-plugins:
          requires:
            - install
  release_workflow:
    jobs:
      - install
      - checks-and-unit-tests:
          filters:
            branches:
              only: beta
          requires:
            - install
      - semantic-release:
          filters:
            branches:
              only: beta
          requires:
            - install
