service: <%= name %>
frameworkVersion: ">=1.1.0"
plugins:
  - serverless-offline
  - serverless-apigw-binary
package:
  individually: true
  excludeDevDependencies: false
  custom:
    enable_optimize:
      local: false
provider:
  name: <%= provider %> 
  region: <%= region %> 
  endpointType: <%= endpointType %>
  runtime: nodejs10.x
  memorySize: 192
  timeout: 10
custom:
  apigwBinary:
    types:
      - '*/*'
functions:
  web-app:
    handler: handler.webApp
    events:
      - http: ANY {proxy+}
      - http: ANY /