service: <%= name %>
frameworkVersion: ">=1.1.0"
plugins:
  - serverless-offline
package:
  individually: true
  excludeDevDependencies: false
provider:
  name: <%= provider %> 
  region: <%= region %> 
  <% if(endpointType) { %> ? endpointType: <%= endpointType %> <% } %>
  runtime: nodejs14.x
functions:
  hello-world:
    handler: src/handler.helloWorld
    events:
      - http:
          path: hello-world
          method: get